<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>servlet-demos</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ServletDemo</display-name>
		<servlet-name>ServletDemo</servlet-name>
		<servlet-class>line.servlet.firstdemo.ServletDemo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ConcurrentDemo</display-name>
		<servlet-name>ConcurrentDemo</servlet-name>
		<servlet-class>line.servlet.firstdemo.ConcurrentDemo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileDownloadDemo</display-name>
		<servlet-name>FileDownloadDemo</servlet-name>
		<servlet-class>line.servlet.file.FileDownloadDemo</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletDemo</servlet-name>
		<url-pattern>/ServletDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConcurrentDemo</servlet-name>
		<url-pattern>/ConcurrentDemo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownloadDemo</servlet-name>
		<url-pattern>/FileDownloadDemo</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
